#root{
  height: 100%;
}
.App {
  text-align: center;
  max-width: 1440px;
  height: 100%;
}


.navbar {
  background: #cfb53b;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  padding-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.beeLogo {
  width: 100px;
  height: auto;
}

.verticalLogo{
  width: 200px;
  height: auto;
}
.test a {
  color: red;
}
.nav{
  font-size: 18px;
  font-weight: 600;
}
.navItem{
  margin: 0px 20px 0px 20px;
}

.header{
  width: 50%;
  height: 25%;
  margin: auto;
  color: white;
  text-align: center;
  background-image: url("../images/beeLogo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header h2{
  padding-top: 150px;
}


.jumboLogo{
  height: 200px;
  width: auto;
}

.banner{
  height: 100px;
  width: 80%;
  margin: auto;
  background-color: #141414;
  margin-top: 5px;
  color: white;

}
.bannerLeft{
  float: left;
  height: 100%;
  width: 37%;
  background-image: url('../images/beeLogo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.bannerRight{
  float: right;
  height: 100%;
  width:61%;
  display: flex;
  align-items: center;

  /* background-color: red; */
}
.bannerText{
  width:100%;
}
.bannerText h3{
  font-size: 2.1vw;
}
.computerSize{
  width:100%;
}
.carousel{
  margin-bottom: 40px;

  height: 530px;
}

.carouselImage{
max-height: 400px;
height: 400px;
width: auto;
margin-bottom: 30px;
}
.carouselImageSmall{
  height: 250px;
  width: auto;
}
.carouselCaption{
  height: 85px;
}
.carouselFont{
  font-size: 20px;
  width: 600px;
  margin: auto;
}
.deck{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.mobileImage{
  max-width: 50%;
}

.emailForm{
  font-size: 20px;
  text-align: center;
  margin-top: 25px;
  float: left;
  width:35%;
  position: relative;
  left: 50px;
  min-width: 100px;


}
.email{
  width:400px;
  margin-bottom: 20px;
  font-weight: 600;
  margin-top: 20px;

}
.message{
  width: 400px;
  font-weight: 600;
}
.contactInfo{
  color: white;
  margin-top: 25px;
  float: right;
  width: 50%;
  min-width: 200px;
  text-align: center;
  position: relative;
  right: 100px;


}

.emailP{
  margin-top: 20px;
  text-align: center
}
.graph{
  width:80%;
}
.wordContainer{
  color: white;
  width: 75%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.test{
  font-size: 16px;
  color:white;
  max-width:350px;
  text-align: center;
  padding-bottom: 50px;
  margin: auto;
}

.buyDeck{
  width: 80%;
  margin:auto;
  display: flex;
  padding-top: 5px;
  padding-bottom: 100px;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
}

.honeyCard{
  width:24%;
}
.honeyCard .btn{
  margin-top: auto;
}
.honeyCard .card-title{
  font-size: 1.15rem;
  flex-grow: 2;
}

.honeyPrice{
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 5px;
}
.markets{
  margin: 5px 0px 5px 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.marketDeck .card{
  background: #282828;
  color: #cfb53b;
}
.marketDeck .card-title{
  font-size: 26px;
  margin-bottom: 5px;

}
.marketTable{
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width:100%;
  table-layout: fixed;
}
.marketTable th{
  font-size: 20px;

}
.marketTable td{
  font-size: 18px;
  font-weight: 500;
}

.homepageCard .card-body, .honeyCard .card-body{
  padding:0px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  color: black;
}
.homepageCard .btn, .honeyCard .btn{
  margin-top: auto;
  color: black;
  font-size: 18px;
}

.card-body{
  background: #cfb53b;
}

.formButton .btn-outline-warning{
  color: #cfb53b;
  border-color: #cfb53b;
}
.formButton .btn-outline-warning:hover{
  background: #cfb53b;
}
.addToCart{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #cfb53b;
  border: 5px solid red;
  text-align: center;
  width: 75%;
  min-width: 576px;
}
#addExitButton{
  border-radius: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  color: black;
}
#addExitButton:hover{
  color:white;
}
.addBody{
  display: flex;

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: #cfb53b
}
.addImage{
}
.addImage img{
  width:85%;
}
.addDetails{
  align-self: flex-start;
  margin: 20px;
}
.quanity{
  margin-bottom: 20px;
}
.quanity button{
  text-align: center;
  font-weight: normal;
  color: black;
  line-height: .5;
}
.quanity button:focus{
  outline: none;
  box-shadow: none;
}
.quanity div{
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 0px 10px 0px 10px;
  width: 20px;
}

@media all and (max-width: 1024px){
  .carousel{
    height: 350px;
    text-align: center;
  }
}
@media all and (max-width:768px){
  .mobileImage{
    max-width: 70%;
  }
  .graph{
    width: 100%
  }
  .wordContainer{
    color: white;
    width: 90%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .cardDiv{
    margin: 20px 10px 20px 10px;
    width: 100%;
  }
  .buyDeck{
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
  }
  .honeyCard{
    width:90%;
    margin-bottom: 10px;
  }
  .markets{
    width:100%;
  }
  .marketDeck .card-title{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .marketTable th{
    font-size: 18px;
  }
  .marketTable td{
    font-size: 16px;
  }
  /* .scroll{
    text-align: center;
    background-color: black;
    overflow-y:  scroll;
    -webkit-overflow-scrolling: touch;
    height: 100vh;
  }
  .App{
    text-align: center;
    height: auto;
    width: auto;
    position: relative;
  } */
}
